#jum{
    background-color: rgba(6, 153, 211, 0.856);
}
body{
    background-color: skyblue;
}
#text{
    color:whitesmoke;
    font-size:30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
#jum1{
    background-color: rgba(6, 153, 211, 0.856);
}